node_modules/
.gradle/
.idea/
.vscode/
*.iml
*.log
logs/
data/
bin/
jdk/
node.exe
npm
npx
corepack
corepack.cmd
npm.ps1
npm.cmd
npx.ps1
npx.cmd
nodevars.bat
local.properties
.dart_tool/
.gcloud/
.firebase/
supremeai/.dart_tool/
supremeai/.flutter-plugins-dependencies
supremeai/ios/Flutter/
supremeai/macos/Flutter/
supremeai/android/.gradle
supremeai/android/local.properties
supremeai/linux/Flutter/
supremeai/web/
supremeai/android/build/
supremeai/ios/build/
supremeai/macos/build/
tests/node_modules/
tests/playwright-report/
tests/test-results/
dashboard/node_modules/
functions/node_modules/
supremeai-vscode-extension/out/
supremeai-vscode-extension/tsconfig.tsbuildinfo
supremeai-studio-client/
supremeai/
scripts/
