.vscode/**
.vscode-test/**
src/**
.git/**
.gitignore**
.yarn/**
.yarnrc.yml
.pnpm/**
.pnpm-store/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!**/*.d.ts
**/node_modules/**
**/.git/**
**/.github/**
**/.nyc_output/**
**/.yarn/**
**/.pnpm-store/**
test/**
*.java
*.vsix
tsconfig.tsbuildinfo
jest.config.js
package-lock.json

