VITE_FIREBASE_API_KEY=AIzaSyCib1UPogwLoAshIWm9YQJB_RR0UxC07i8
VITE_FIREBASE_AUTH_DOMAIN=supremeai-a.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://supremeai-a-default-rtdb.asia-southeast1.firebasedatabase.app/
VITE_FIREBASE_PROJECT_ID=supremeai-a
VITE_FIREBASE_STORAGE_BUCKET=supremeai-a.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=565236080752
VITE_FIREBASE_APP_ID=1:565236080752:web:572bb9313db9afb355d4b5
VITE_WS_URL=wss://supremeai-lhlwyikwlq-uc.a.run.app/ws/simulator