<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SupremeAI 2.0" Language="1033" Version="0.1.0" Manufacturer="SupremeAI" UpgradeCode="d123e4f5-6a7b-8c9d-0e1f-23456789abc0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="SupremeAI 2.0" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SupremeAI 2.0" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="SupremeAIExe" Guid="*">
        <File Id="SupremeAIExe" Source="..\src-tauri\target\release\bundle\msi\supremeai-desktop.exe" KeyPath="yes" />
      </Component>
      <!-- TODO: Add other files (resources, etc.) using heat or manually -->
    </ComponentGroup>
  </Fragment>
</Wix>